*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* My-fonts --------------------------------------- */
@font-face {
    font-family: 'myFont';
    src: url(../fonts/segoe-ui/segoeUI.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'myFont';
    src: url(../fonts/segoe-ui/segoeUI-SemiBold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'myFont';
    src: url(../fonts/segoe-ui/segoeUI-Bold.woff2) format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'myFont';
    src: url(../fonts/segoe-ui/segoeUI-Light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'myFont';
    src: url(../fonts/segoe-ui/segoeUI-Italic.woff2) format('woff2');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'myFont';
    src: url(../fonts/segoe-ui/segoeUI-BoldItalic.woff2) format('woff2');
    font-weight: bold;
    font-style: italic;
}

/* Body--------------------------*/
 body{
    font-family: 'myFont', 'san-serif';
 }

 /*nav --------------------------------*/
nav {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:1% 5.7%;
    height:auto;
    
}

nav img{
    width: 108px;
   
}

a {
    text-decoration: none;
    
}

a:visited{
    color: #262626;
}

.left-nav{
    margin-right: auto;
    margin-left: 30px;
    display: flex;
    align-items: center;
    gap: 23px;
}
.right-nav{
    display: flex;
    gap: 30px;
}
nav a:hover{
    border-bottom: 1.5px solid black;
}
 .nav-no-hover-line:hover {
    border: none;
 }

 button{
    display:none;
 }
/* Hero --------------------------------- */
.hero{
    margin: 10px 0px;
    width: 100%;
    height: 472px;
    background: url("../img/hero_bg.avif");
    background-size: 100% 100%;
    
   
}

.hero-content{
    width: 30%;
    height: 500px;
    margin-left: 123px;
    padding-top: 123px;
}

.hero-content h1{
    font-size: 38px;
    font-weight: 600;
    line-height: 45px;
    margin-bottom: 20px;
    
}
.hero-content a{
    display: inline-block;
    margin-top: 30px;
    padding: 10px 14px;
    background: #0067B8;
    color: white;
    font-weight: 600;
    border-radius: 3px;
}

.cards, .section-2{
    display: flex;
    gap: 2%;
    width: 90%;
    margin:100px auto;
}

.card-items{
    width: 24%;
    height: auto;
    box-shadow: 3px 3px 10px gray;
}

.card-items img{
    width: 100%
}
.card-items h2{
    font-weight: 600;
    font-size: 31px;
    margin: 20px;
}
.card-items p{
    margin: 10px 20px 20px;
}
.card-items a{
    display: inline-block;
    margin: 10px 20px 30px;
    padding: 10px 14px;
    background: #0067B8;
    color: white;
    font-weight: 600;
    border-radius: 3px;
}

/* Section 2---------------------------------- */
.section-2 {
    background: url('../img/land.avif');
    background-size: cover;
    height: 510px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.landing-2{
    background: white;
    width: 37.5%;
    height: auto;
    margin-right:67px;
    padding: 30px 30px 20px;
    box-shadow: none;
    
}

/* Business Section------------------------------------- */
.business{
    width:90%;
    margin:auto;
}
.business-cards{
    display: flex;
    gap:2%;
    margin:30px 0;
}
.social-media{
    display: flex;
    width: 15%;
    margin: 55px 0;
    justify-content: space-around;
}


/* Footer---------------------------------------------------------------------- */
footer {
    width:100%;
    height: auto;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    padding: 30px 70px;
    margin-top: 80px;
    color: #616161;
}
.up-footer{
    display: flex;
    justify-content: space-between;
    line-height: 35px;
}


.down-footer{
    display: flex;
    justify-content: space-between;
}
.down-right-footer, .down-left-footer{
    display:flex;
    justify-content: space-between;
    margin-top: 30px;
}
.down-left-footer{
   width: 27%;
}
.down-right-footer{
    width: 40%
}

li{
    list-style: none;
    font-size: 11px;

}

footer a:hover{
    text-decoration: underline;
    cursor: pointer;
}






/* media queries------------------ */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    button{
        display: inline-block;
        border: none;
        background: white;
        font-size: 1.5em;
    }
    nav li{
        display: none;
    }
    nav img{
        width: 100px;
    }
    nav{
        margin: 4%
    }
    #nav-logo{
        margin: auto;
    }
    .hero{
        /* text-align: center; */
        height: auto;
        background-size: cover;
        background-position: 80%;
    }
    .hero-content{
        position: relative;
        top: 300px;
        width: 90%;
        height: auto;
        margin: auto;
        padding: 30px 0;
    }
    .hero-content h1{
        font-size: 2rem
    }
    header{
        margin-bottom: 290px;
    }
    .cards, .business-cards{
        flex-direction: column;
        gap: 40px;
   
    }

    .card-items{
        width: 100%
    }
    footer{
        padding-left: 30px;
    }
    .up-footer, .down-footer{
        flex-direction: column;   
    }
    .up-footer{
        gap: 30px;
    }
    .down-right-footer, .down-left-footer{
        width: 100%;
        justify-content: start;
        flex-wrap: wrap;
        gap: 15px

    }
    .landing-2{
        padding: 0;
        margin: 0;
        position: relative;
        top: 370px;
        
    }
   .landing-2 *{
    margin: 13px 8px!important;
   }
    .section-2{
       margin-bottom: 280px;
    }
    .social-media{
        width: 50%
    }

}
